*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    background: white;

}
main{
    
    padding: 4rem;
}
fieldset{
    padding: 3rem;
    height: 80vh;
    width: 100%;
}
.Assunto{
    margin-bottom: 2rem;
}
.name{
    margin-bottom: 2rem;

}
.e-mail{
    margin-bottom: 2rem;
}
.mensagem{
    margin-bottom: 2rem;
}
.msgm{
    height: 10rem;
    padding: 1rem;
    margin: 8apx;
}
    
.aceito{
    margin-bottom: 2rem;
}
.enviar{
    cursor: pointer;
}

.reset{
    cursor: pointer;
}

